body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    
}

h1 {
    text-align: center;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    overflow-y: scroll;
    align-self: center;

}

.center-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.message {
    display: flex;
    margin-bottom: 10px;
}

.my-message {
    justify-content: flex-end;
}

.other-message {
    justify-content: flex-start;
}

.message-inner {
    display: flex;
}

.message .user {
    font-weight: bold;
    margin-right: 10px;
}


.content {
    background-color: #1e90ff;
    color: #ffffff;
    padding: 8px;
    border-radius: 5px;
}

.message .content {
    background-color: #1e90ff;
    color: #ffffff;
    padding: 8px;
    border-radius: 5px;
}

.other-message .content {
    background-color: #808080;
}

.input-container {
    width: 400px;
    display: flex;
    margin-top: 20px;
    
}

.input-container input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    border-radius: 5px;
}

.input-container input[type="submit"] {
    background-color: #84b9ee;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.message-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message-text {
    display: flex;
    align-items: center;
}

.bot-image {
    width: 40px;
    height: auto;
    border-radius: 50%;
    margin-bottom:
    10px; /* Adjust as needed */
}


.bot-image-container, .text-container {
    display: block;
}

.message-text-container {
    display: block;
}

.bot-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}